.datepicker-jalali {
    display:none;
   border-radius: 20px;
    background: rgba(34, 61, 97, 0.8);
    border: 1px solid #ccc;
    padding: 10px;
}

.datepicker-jalali .datepicker-navigator {
    padding: 0px 10px 10px 10px;
    position: relative;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
}
.datepicker-jalali .datepicker-navigator *{
    cursor: pointer;
}
.datepicker-jalali .datepicker-navigator .nav-right , .datepicker-jalali .datepicker-navigator .nav-left{
    position: absolute;
    top: 0;
}
.datepicker-jalali .datepicker-navigator .nav-right {
    padding-top:15px;
    right: 0;
}

.datepicker-jalali .datepicker-navigator .nav-left {
    padding-top:15px;
    left: 0;
}

.datepicker-jalali .datepicker-navigator .nav-content {
    width: 100%;
    text-align: center;
    display: inline-block;
}
.datepicker-jalali * table .select {
    background: #14cc3e !important;
}
.datepicker-jalali .datepicker-days,.datepicker-jalali .datepicker-month,.datepicker-jalali .datepicker-years{
    text-align: center;
}
.datepicker-jalali .datepicker-days table,.datepicker-jalali .datepicker-month table,.datepicker-jalali .datepicker-years table{
    width: 100%;
}
.datepicker-jalali .datepicker-month table td,.datepicker-jalali .datepicker-years table td{
    width: 33%;
}
.datepicker-jalali .datepicker-days .day , .datepicker-jalali .datepicker-month .month ,.datepicker-jalali .datepicker-years .year{
    cursor: pointer;
    display: inline-block;
    /*background: #eee;*/
    border-radius: 3px;
    min-width: 30px;
    width: 100%;
    text-align: center;
    padding: 5px 0px;
    transition: all ease .5s;
}
.datepicker-jalali .datepicker-days .day:hover , .datepicker-jalali .datepicker-month .month:hover ,.datepicker-jalali .datepicker-years .year:hover{
    background: #d7d7d7;
}
.datepicker-jalali .datepicker-days .day.today , .datepicker-jalali .datepicker-month .month.this ,.datepicker-jalali .datepicker-years .year.this{
    background: #0ac5ff;
}
.datepicker-jalali .datepicker-days .day.today:hover ,.datepicker-jalali .datepicker-month .month.this:hover ,.datepicker-jalali .datepicker-years .year.this{
    background: #08789d;
}