

/*
Author: Bootstrapthemes
Author URI: http://www.bootstrapthemes.co
*/

/* Portrait tablets and medium desktops */
@media (max-width: 1199px) {
    body {
        /*font-size: 1rem;*/
    }

    h1 {
        font-size: 3.5rem;
    }
    .mixi_portfolio_overlay .overflow_hover_text{
        padding: 70px 0px 0px 0px;
    }




}

/* Portrait tablets and small desktops */
@media (max-width: 991px) {

    html {
        font-size: 90%;
    }
    h3 {
        font-size: 1.575rem;
        line-height: 2rem;
        margin-bottom: 15px;
    }
    h5 {
        font-size: 1.1rem;
        margin-bottom: .5rem;
        color: #696f7c;
        line-height: 1.475rem;
    }
    h4 {
        font-size: 1.225rem;
        line-height: 2rem;
    }
    .mixi_portfolio_overlay .overflow_hover_text{
        padding: 80px 0px 0px 0px;
    }




}
@media (max-width: 770px) {

    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border-color: transparent;
        background-color: rgba(31, 31, 31, 0.65);
        text-align: center;
    }
}
/* Landscape phones and portrait tablets */
@media  (max-width: 768px) {
    
    .c-dropdown {
        float:none ;
    }
    #calenderSelector{
float:none!important;
    }
    #az,#ta{
        float:none!important;
        padding-left:0px!important;
    }

    html {
        font-size: 80%;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border-color: transparent;
        background-color: rgba(31, 31, 31, 0.89);
        text-align: center;
    }
    
    .copyright_text{
        text-align: center;
    }
    .footer_socail{ 
        text-align: center;
    }
    .counter {
        height: auto;
    }
    .overlay{
        height: auto;
    }
    .counter .main_counter{


    }

    .main_contact{
        padding: 80px 20px;
    }
	.home .owl-controls{
		margin-bottom:40px;
	}

}



/* Landscape phones and smaller */
@media (max-width: 479px) {
    html {
        font-size: 65%;
    }
    .form-control {
        margin-bottom: 10px;
    }
    .gellary .single_gellary_item .gellary_overlay {
        padding: 20px 0px 0px 0px;
    }
    .team .single_item .single_team_overlay {
        padding: 40px 0px 10px 0px;
    }

}





@media (max-width: 320px) {


    html {
        font-size: 60.5%;
    }
    .form-control {
        margin-bottom: 10px;
    }

    .team .single_item .single_team_overlay {
        padding: 20px 0px 10px 0px;
    }
    .gellary .single_gellary_item .gellary_overlay {
        padding: 10px 0px 0px 0px;
    }






}

@media (min-width: 768px) {
    .navbar-brand{
        display:none;
    }
      #amar{
      margin-right: 90px;
    }
}
@media(min-width:1200px){
        /*#headersearch{
        padding-left: 171px;
    padding-top: 101px;
    position: absolute;
    }*/

}
@media(min-width:992px){
#ta{
    padding-right: 58px;
}
 #choosewhere{
             margin-right: 75px;
     }

}
@media(max-width:991px) and (min-width:769px){
#choosewhere{
    margin-right: 53px;
}
    }

