﻿@import url(https://fonts.googleapis.com/css?family=Roboto:300);
.artist {
  width: 240px;
  height: 360px;
  margin-right: 20px;
border-radius: 20px;
 background-color:rgb(0, 0, 0, 0.55);
}
.artist:last-child {
  margin: 0;
}
.artist__thumbnail {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  position: relative;
  width: 240px;
  height: 240px;
  overflow: hidden;
}
.artist__blur {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-filter: blur(40px);
          filter: blur(40px);
  z-index: 1;
}
.artist__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  z-index: 3;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.artist__ring {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 80%, rgba(255, 255, 255, 0.2) 100%);
  z-index: 2;
  box-shadow: 4px 0 2px -4px rgba(255, 255, 255, 0.9), -4px 0 2px -4px rgba(255, 255, 255, 0.9);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.artist__ring--outer {
  width: 200px;
  height: 200px;
}
.artist__label {
  display: flex;
  height: 120px;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 10px;
}

.capital {
  color: #7f7f7f;
  text-transform: uppercase;
}

#kanunname{
    font-size: 20px;
    font-weight: 100;
    color: #f39c12;
    margin-bottom: 0;
}
.kanundetail{
    color: white!important;
}
a.kanundetail:hover{
    color:#d9570f!important;
    font-size:120%;
}
.middledetail{
  text-align: right;
    margin:0px;
}






.artist1 {
    border-radius: 20px;
  width: 230px;
  height: 265px;
  margin-right: 20px;
 background-color:rgb(0, 0, 0, 0.55);
}
.artist1:last-child {
  margin: 0;
}
.artist__thumbnail1 {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
 border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
    width: 230px;
    height: 265px;
  overflow: hidden;
}
.artist__blur1 {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-filter: blur(40px);
          filter: blur(40px);
  z-index: 1;
}
.artist__image1 {
  width: 166.6666666667px;
  height: 227.2727272727px;
  border-radius: 20%;
  z-index: 3;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.artist__ring1 {
  width: 220px;
  height: 225px;
  border-radius: 12%;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 80%, rgba(255, 255, 255, 0.2) 100%);
  z-index: 2;
  box-shadow: 4px 0 2px -4px rgba(255, 255, 255, 0.9), -4px 0 2px -4px rgba(255, 255, 255, 0.9);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.artist__ring--outer1 {
  width: 240px;
  height: 247px;
}

@media (max-width: 992px)and (min-width:769px) {
    #box1 {
        padding-right:100px;
    }
    #mmidle{
        padding-left: 110px;
    }
}
@media (max-width: 768px)and (min-width:10px) {
    #mmidle{
        margin-bottom:25px;
        margin-top:25px;
    }
}
@media (min-width:992px){
    .middledetail{
        width: 16rem;
    }
}
@media (max-width: 768px)and (min-width:480px) {
.middledetail{
    width:13rem;
}
}
@media (max-width: 479px)and (min-width:10px) {
.middledetail{
    width:16rem;
}
}



    .buttonsabtenam {
        width:200px;
       
  flex: 1 1 auto;
    font-size: 19px;
  padding: 20px;
  border: 2px solid #f7f7f7;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  transition: .3s;
}
.buttonsabtenam:after {
  position: absolute;
  transition: .3s;
  content: '';
  width: 0;
  left: 50%;
  bottom: 0;
  height: 3px;
  background: #f7f7f7;
}
.buttonsabtenam:hover {
  cursor: pointer;
}
.buttonsabtenam:hover:after {
  width: 100%;
  left: 0;
}
.buttonsabtenam:hover:nth-of-type(1) {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.buttonsabtenam:hover:nth-of-type(1):after {
  width: 0%;
}


.sectiondetail {
  position: relative;
  width: 940px;
  max-width: 80%;
  border: 2px solid #333;
  border-top: none;
  text-align: center;
  margin: 60px auto;
}

.sectiondetail h1 {
color: rgba(34, 61, 97, 0.99);
    position: relative;
    margin-top: -42px;
    display: inline-block;
    font-size: 35px;
}

.top-border{
  position: absolute;
  height: 2px;
  width: 40%;
  background-color: #333;
}

.right {
  right: 0;
}

.left {
  left: 0;
}

@media (max-width: 685px) {
.top-border {	
  width: 18%;
	}
}

.sectiondetail p {
  width: 80%;
  margin: 20px auto 40px auto;
  line-height: 30px;
}


@media (max-width: 500px) {
  .top-border {	
    display: none;
  }
  .sectiondetail {
  border-top: 2px solid #333;
  }
  .sectiondetail h1 {
    margin: 20px 6px;
  }
}


/*video section*/
  .h_iframe-aparat_embed_frame {
                    position: relative;
                }

                    .h_iframe-aparat_embed_frame .ratio {
                        display: block;
                        width: 100%;
                        height: auto;
                    }

                    .h_iframe-aparat_embed_frame iframe {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                    }
       #videosection{
           margin: auto;
    width: 50%;

    padding: 5px;
       }