<!DOCTYPE HTML>

<html>

<head>
    <title>Question Page</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="old/assets/css/main.css" />
    <noscript>
    <link rel="stylesheet" href="old/assets/css/noscript.css" /></noscript>
    <link href="old/assets/css/timer.css" rel="stylesheet">
</head>

<body class="is-preload">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <!-- <script src="old/assets/timer.js" type="module">

    </script> -->


    <!-- Wrapper -->

    <div id="wrapper">
        <div style="position: relative" id='timer'></div>
        <!-- Main -->
        <section id="main">
            <header>
                <!-- <h6>Remaining time :<h6 id="time"></h6></h6> -->


                <h5 id="title" style="text-align: left; text-transform: lowercase;">Waiting...</h5>
                <input type="hidden" id="idData" value="<%=data%>">
                <form action="/" name="search-theme-form" method="post" enctype="application/x-www-form-urlencoded">
                    <input type="hidden" id="question_id" name="question_id">
                    <div id="volumeDiv">

                    </div>
                    <div id="optionsDiv" class="fa-pull-left">
                    </div>


                </form>
            </header>

        </section>
        <script>
            function volumeSet() {
                var slider = document.getElementById("myRange");
                var output = document.getElementById("demo");
                var inputVolume = document.getElementById('inputVolume')
                output.innerHTML = slider.value; // Display the default slider value
                // Update the current slider value (each time you drag the slider handle)
                slider.oninput = function() {
                    output.innerHTML = this.value;
                    inputVolume.value = this.value;
                }
            }
        </script>
        <!-- Footer -->
        <footer id="footer">
            <ul class="copyright">
                <!--<li>&copy; Jane Doe</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>-->
            </ul>
        </footer>

    </div>

    <!-- Scripts -->
    <script>
        if ('addEventListener' in window) {
            window.addEventListener('load', function() {
                document.body.className = document.body.className.replace(/\bis-preload\b/, '');
            });
            document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
        }
    </script>
    <script src="//d3js.org/d3.v3.min.js"></script>
    <script src="dashtimer.js"></script>
    <link href="//cdn.muicss.com/mui-0.5.1/css/mui.min.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.muicss.com/mui-0.5.1/js/mui.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/es6-promise/3.2.1/es6-promise.min.js"></script>
    <script>
        var dt = new DashTimer('#timer').init({
            start: {
                fill: 'green'
            },
            finish: {
                fill: 'red'
            }
        });
    </script>
    <script>
        var socket = io('http://collective-cooking.herokuapp.com');
        var questionId = document.getElementById('idData').value
        var finishId = null
        socket.on('send', function(data) {
            if (questionId != data.id) {
                questionId = data.id
                beep(100, 520, 200)
                console.log(data)
                document.getElementById('question_id').value = data.id;
                dt.setData([{
                    immediate: {
                        angle: true
                    },
                    start: {
                        angle: 1,
                        fill: '#eee'
                    },
                    finish: {
                        angle: 0,
                        fill: '#eee'
                    }
                }, {
                    values: {
                        show: true
                    },
                    start: {
                        value: data.time,
                    },
                    finish: {
                        value: 0,
                    }
                }]).start(data.time * 1000)
                document.getElementById("title").innerHTML = data.title;
                var submit = document.createElement("INPUT");
                submit.setAttribute("type", "submit");
                submit.setAttribute("id", "formBtn");
                submit.setAttribute("value", "Send answer");
                if (data.type == 0) {
                    var mainDiv = document.createElement("div");
                    mainDiv.setAttribute("class", "slidecontainer");
                    var inputRange = document.createElement("INPUT");
                    inputRange.setAttribute("type", "range");
                    inputRange.setAttribute("min", data.options[0].option);
                    inputRange.setAttribute("max", data.options[1].option);
                    inputRange.setAttribute("value", "50");
                    inputRange.setAttribute("class", "slider");
                    inputRange.setAttribute("id", "myRange");
                    var div = document.createElement("div");
                    div.setAttribute("class", "fa-pull-left");
                    var p = document.createElement("P");
                    p.innerHTML = "your answer: ";
                    var span = document.createElement("span");
                    span.setAttribute("id", "demo");
                    var inputVolume = document.createElement("INPUT");
                    inputVolume.setAttribute("type", "hidden")
                    inputVolume.setAttribute("id", "inputVolume")
                    inputVolume.setAttribute("name", "answer")
                    p.appendChild(span);
                    div.appendChild(p);
                    div.appendChild(inputVolume)
                    mainDiv.appendChild(inputRange);
                    mainDiv.appendChild(div);
                    document.getElementById('volumeDiv').appendChild(mainDiv);
                    document.getElementById('volumeDiv').appendChild(submit);
                    volumeSet();
                } else {
                    var count = 0;
                    data.options.forEach(function(item) {
                        count += 1;
                        var input = document.createElement("INPUT");
                        input.setAttribute("type", "radio");
                        input.setAttribute("id", "radioButton" + count);
                        input.setAttribute("name", "answer");
                        input.setAttribute("value", "option" + count);
                        if (item.enable == 0) {
                            input.disabled = true
                        }
                        var h6 = document.createElement('p')
                        h6.setAttribute("id", "option" + count)
                        h6.setAttribute("style", "text-transform: lowercase;")

                        h6.innerHTML = item.option
                            // input.appendChild(h6);
                        document.getElementById("optionsDiv").appendChild(input)
                        document.getElementById("optionsDiv").appendChild(h6)
                        document.getElementById('optionsDiv').appendChild(submit);
                    })
                }
                document.getElementById('formBtn').style.visibility = 'visible';
                document.getElementById('formBtn').disabled = false;

            }
            if (dt.isFinished()) {
                dt.setData([{
                    values: {
                        show: false
                    }
                }])
                const myNode = document.getElementById("main");
                while (myNode.firstChild) {
                    myNode.removeChild(myNode.firstChild);
                    if (!myNode.firstChild) {
                        myNode.innerHTML = "<header>\n" +
                            "              <!-- <h6>Remaining time :<h6 id=\"time\"></h6></h6> -->\n" +
                            "\n" +
                            "\n" +
                            "              <h5 id=\"title\" style=\"text-align: left;text-transform: lowercase;\">Waiting...</h5>\n" +
                            "              <form action=\"/\" name=\"search-theme-form\" method=\"post\" enctype=\"application/x-www-form-urlencoded\">\n" +
                            "                <input type=\"hidden\" id=\"question_id\" name=\"question_id\"  >\n" +
                            "                  <div id=\"volumeDiv\">\n" +
                            "\n" +
                            "                  </div>\n" +
                            "                  <div id=\"optionsDiv\" class=\"fa-pull-left\">\n" +
                            "                  </div>\n" +
                            "\n" +
                            "\n" +
                            "              </form>\n" +
                            "\t\t\t\t\t\t</header>"
                        break;
                    }
                }

                // if(data.type == 0){
                //
                // }
                // else{
                //     document.getElementById('optionsDiv').removeChild(input)
                //     document.getElementById('optionsDiv').removeChild(h6)
                //     document.getElementById('optionsDiv').removeChild(submit)
                // }

            }


            // document.getElementById("option1").innerHTML = data.option1;
            // document.getElementById("option2").innerHTML = data.option2;
            // document.getElementById('radioButton1').style.display = 'block';
            // document.getElementById('radioButton2').style.display = 'block';
            // document.getElementById('formBtn').style.visibility = 'visible';
            // document.getElementById('formBtn').disabled = false;
            // document.getElementById('question_id').value = data.id;
            // if (data.time < 1) {
            //   document.getElementById('formBtn').disabled = true;
            // }

            // document.getElementById("timer").innerHTML = data.time;

        });
        socket.on('finish', function(id) {
                if (finishId != id) {
                    finishId = id;
                    dt.setData([{
                        values: {
                            show: false
                        }
                    }])
                    const myNode = document.getElementById("main");
                    while (myNode.firstChild) {
                        myNode.removeChild(myNode.firstChild);
                        if (!myNode.firstChild) {
                            myNode.innerHTML = "<header>\n" +
                                "              <!-- <h6>Remaining time :<h6 id=\"time\"></h6></h6> -->\n" +
                                "\n" +
                                "\n" +
                                "              <h4 id=\"title\" style=\"text-align: left; text-transform: lowercase;\">Waiting...</h4>\n" +
                                "              <form action=\"/\" name=\"search-theme-form\" method=\"post\" enctype=\"application/x-www-form-urlencoded\">\n" +
                                "                <input type=\"hidden\" id=\"question_id\" name=\"question_id\"  >\n" +
                                "                  <div id=\"volumeDiv\">\n" +
                                "\n" +
                                "                  </div>\n" +
                                "                  <div id=\"optionsDiv\" class=\"fa-pull-left\">\n" +
                                "                  </div>\n" +
                                "\n" +
                                "\n" +
                                "              </form>\n" +
                                "\t\t\t\t\t\t</header>"
                            break;
                        }
                    }
                }
            })
            // $(document).load(function () {
            //   Timer = new radialTimer();
            // Timer.init("timer", 30);
            // })
    </script>
    <script>
        a = new AudioContext() // browsers limit the number of concurrent audio contexts, so you better re-use'em

        function beep(vol, freq, duration) {
            v = a.createOscillator()
            u = a.createGain()
            v.connect(u)
            v.frequency.value = freq
            v.type = "square"
            u.connect(a.destination)
            u.gain.value = vol * 0.01
            v.start(a.currentTime)
            v.stop(a.currentTime + duration * 0.001)
        }
    </script>
</body>

</html>