<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>صفحه مدیریت | کنترل پنل</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="../../dist/css/bootstrap-theme.css">
  <!-- Bootstrap rtl -->
  <link rel="stylesheet" href="../../dist/css/rtl.css">
  <!-- babakhani datepicker -->
  <link rel="stylesheet" href="../../dist/css/persian-datepicker-0.4.5.min.css" />
  <!-- Font Awesome -->
  <link rel="stylesheet" href="../../bower_components/font-awesome/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="../../bower_components/Ionicons/css/ionicons.min.css">
  <!-- daterange picker -->
  <link rel="stylesheet" href="../../bower_components/bootstrap-daterangepicker/daterangepicker.css">
  <!-- bootstrap datepicker -->
  <link rel="stylesheet" href="../../bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
  <!-- iCheck for checkboxes and radio inputs -->
  <link rel="stylesheet" href="../../plugins/iCheck/all.css">
  <!-- Bootstrap Color Picker -->
  <link rel="stylesheet" href="../../bower_components/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css">
  <!-- Bootstrap time Picker -->
  <link rel="stylesheet" href="../../plugins/timepicker/bootstrap-timepicker.min.css">
  <!-- Select2 -->
  <link rel="stylesheet" href="../../bower_components/select2/dist/css/select2.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="../../dist/css/AdminLTE.css">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="../../dist/css/skins/_all-skins.min.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Google Font -->
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

</head>
<body class="hold-transition skin-blue sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">

  <header class="main-header">
    <!-- Logo -->
    <a href="/admin" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini">پنل</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>کنترل پنل مدیریت</b></span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>





      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Messages: style can be found in dropdown.less-->
          <li class="dropdown messages-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-envelope-o"></i>
              <span class="label label-success">4</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">۴ پیام خوانده نشده</li>
              <li>
                <!-- inner menu: contains the actual data -->
                <ul class="menu">
                  <li><!-- start message -->
                    <a href="#">
                      <div class="pull-right">
                        <img src="../../dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                      </div>
                      <h4>
                        مدیریت
                        <small><i class="fa fa-clock-o"></i> ۵ دقیقه پیش</small>
                      </h4>
                      <p>متن پیام</p>
                    </a>
                  </li>
                  <!-- end message -->
                  <li>
                    <a href="#">
                      <div class="pull-right">
                        <img src="../../dist/img/user3-128x128.jpg" class="img-circle" alt="User Image">
                      </div>
                      <h4>
                        نگین
                        <small><i class="fa fa-clock-o"></i> ۲ ساعت پیش</small>
                      </h4>
                      <p>متن پیام</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <div class="pull-right">
                        <img src="../../dist/img/user4-128x128.jpg" class="img-circle" alt="User Image">
                      </div>
                      <h4>
                        نسترن
                        <small><i class="fa fa-clock-o"></i> امروز</small>
                      </h4>
                      <p>متن پیام</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <div class="pull-right">
                        <img src="../../dist/img/user3-128x128.jpg" class="img-circle" alt="User Image">
                      </div>
                      <h4>
                        نگین
                        <small><i class="fa fa-clock-o"></i> دیروز</small>
                      </h4>
                      <p>متن پیام</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <div class="pull-right">
                        <img src="../../dist/img/user4-128x128.jpg" class="img-circle" alt="User Image">
                      </div>
                      <h4>
                        نسترن
                        <small><i class="fa fa-clock-o"></i> ۲ روز پیش</small>
                      </h4>
                      <p>متن پیام</p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="footer"><a href="#">نمایش تمام پیام ها</a></li>
            </ul>
          </li>
          <!-- Notifications: style can be found in dropdown.less -->
          <li class="dropdown notifications-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-bell-o"></i>
              <span class="label label-warning">۱۰</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">۱۰ اعلان جدید</li>
              <li>
                <!-- inner menu: contains the actual data -->
                <ul class="menu">
                  <li>
                    <a href="#">
                      <i class="fa fa-users text-aqua"></i> ۵ کاربر جدید ثبت نام کردند
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-warning text-yellow"></i> اخطار دقت کنید
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-users text-red"></i> ۴ کاربر جدید ثبت نام کردند
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-shopping-cart text-green"></i> ۲۵ سفارش جدید
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-user text-red"></i> نام کاربریتان را تغییر دادید
                    </a>
                  </li>
                </ul>
              </li>
              <li class="footer"><a href="#">نمایش همه</a></li>
            </ul>
          </li>
          <!-- Tasks: style can be found in dropdown.less -->
          <li class="dropdown tasks-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-flag-o"></i>
              <span class="label label-danger">۹</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">۹ کار برای انجام دارید</li>
              <li>
                <!-- inner menu: contains the actual data -->
                <ul class="menu">
                  <li><!-- Task item -->
                    <a href="#">
                      <h3>
                        ساخت دکمه
                        <small class="pull-left">20%</small>
                      </h3>
                      <div class="progress xs">
                        <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar"
                             aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                          <span class="sr-only">20% تکمیل شده</span>
                        </div>
                      </div>
                    </a>
                  </li>
                  <!-- end task item -->
                  <li><!-- Task item -->
                    <a href="#">
                      <h3>
                        ساخت قالب جدید
                        <small class="pull-left">40%</small>
                      </h3>
                      <div class="progress xs">
                        <div class="progress-bar progress-bar-green" style="width: 40%" role="progressbar"
                             aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                          <span class="sr-only">40% تکمیل شده</span>
                        </div>
                      </div>
                    </a>
                  </li>
                  <!-- end task item -->
                  <li><!-- Task item -->
                    <a href="#">
                      <h3>
                        تبلیغات
                        <small class="pull-left">60%</small>
                      </h3>
                      <div class="progress xs">
                        <div class="progress-bar progress-bar-red" style="width: 60%" role="progressbar"
                             aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                          <span class="sr-only">60% تکمیل شده</span>
                        </div>
                      </div>
                    </a>
                  </li>
                  <!-- end task item -->
                  <li><!-- Task item -->
                    <a href="#">
                      <h3>
                        ساخت صفحه فرود
                        <small class="pull-left">80%</small>
                      </h3>
                      <div class="progress xs">
                        <div class="progress-bar progress-bar-yellow" style="width: 80%" role="progressbar"
                             aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                          <span class="sr-only">80% تکمیل شده</span>
                        </div>
                      </div>
                    </a>
                  </li>
                  <!-- end task item -->
                </ul>
              </li>
              <li class="footer">
                <a href="#">نمایش همه</a>
              </li>
            </ul>
          </li>
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="../../dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
              <span class="hidden-xs">مدیریت</span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <img src="../../dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">

                <p>
                  مدیریت
                  <small>مدیریت کل سایت</small>
                </p>
              </li>
              <!-- Menu Body -->
              <li class="user-body">
                <div class="row">
                  <div class="col-xs-4 text-center">
                    <a href="#">صفحه من</a>
                  </div>
                  <div class="col-xs-4 text-center">
                    <a href="#">فروش</a>
                  </div>
                  <div class="col-xs-4 text-center">
                    <a href="#">دوستان</a>
                  </div>
                </div>
                <!-- /.row -->
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-right">
                  <a href="#" class="btn btn-default btn-flat">پروفایل</a>
                </div>
                <div class="pull-left">
                  <a href="#" class="btn btn-default btn-flat">خروج</a>
                </div>
              </li>
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button -->
          <li>
            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- right side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-right image">
          <img src="../../dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
        </div>
        <div class="pull-right info">
          <p>مدیریت</p>
          <a href="#"><i class="fa fa-circle text-success"></i> آنلاین</a>
        </div>
      </div>
      <!-- search form -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="جستجو">
          <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">منو</li>
        <li class="active treeview">
          <a href="#">
            <i class="fa fa-dashboard"></i> <span>رویداد</span>
            <span class="pull-left-container">
              <i class="fa fa-angle-right pull-left"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="active"><a href="/admin_view_events"><i class="fa fa-circle-o"></i> مشاهده رویداد</a></li>
            <li><a href="/admin_register_event"><i class="fa fa-circle-o"></i> ثبت رویداد</a></li>
          </ul>
        </li>
        <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>اطلاعات</span></a></li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <!--<h1>-->
        <!--صفحه خالی-->
        <!--<small>آماده برای پروژه شما</small>-->
      <!--</h1>-->
      <!--<ol class="breadcrumb">-->
        <!--<li><a href="#"><i class="fa fa-dashboard"></i> خانه</a></li>-->
        <!--<li><a href="#">مثال ها</a></li>-->
        <!--<li class="active">صفحه خالی</li>-->
      <!--</ol>-->
    </section>

    <!-- Main content -->
    <section class="content">

      <div class="col-md-10">
        <!-- Horizontal Form -->
        <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title">ثبت رویداد جدید</h3>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
          <form class="form-horizontal" action="/admin_update_event" method="post" enctype="application/x-www-form-urlencoded">
            <div class="box-body">
              <div class="form-group">

                <div class="col-sm-10">
                  <input type="hidden" class="col-sm-8 form-control" id="inputId" name="eventId"  value="<%= data.rows[0].id%>"  >
                </div>
              </div>
              <div class="form-group">
                <label for="inputTitle" class="col-sm-1 control-label" >عنوان</label>

                <div class="col-sm-10">
                  <input type="text" class="col-sm-8 form-control" id="inputTitle" name="title" placeholder="عنوان" value="<%= data.rows[0].title%>" >
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword3" class="col-sm-1 control-label">توضیحات</label>

                <div class="col-sm-10">
                  <textarea class="form-control" rows="8" id="inputDescription" name="description" placeholder="متن"><%= data.rows[0].description%></textarea>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-offset-1 col-sm-2">
                    <div class="form-group">
                      <label >دانشگاه برگزارکننده</label>
                      <select class="form-control" name="university_persian">
                        <option id="university_persian_option_iut" value="دانشگاه صنعتی اصفهان" >دانشگاه صنعتی اصفهان</option>
                      </select>
                    </div>
                  </div>
                  <script>
                    var x = "<%= data.rows[0].by.university_persian %>"
                    if(x == 'دانشگاه صنعتی اصفهان')
                      document.getElementById('university_persian_option_iut').selected = true
                  </script>
                  <!-- /.col-lg-6 -->
                  <div class="col-sm-offset-1 col-sm-2">
                    <div class="form-group">
                      <label >نوع مجموعه</label>
                      <select class="form-control" name="organiser_type">
                        <option id="organiser_type_option_kanoon" value="kanoon">کانون فرهنگی هنری</option>
                        <option id="organiser_type_option_tashakol" value="tashakol">تشکل دانشجویی</option>
                        <option id="organiser_type_option_anjoman" value="anjoman">انجمن علمی</option>
                      </select>
                    </div>
                  </div>
                  <script>
                    var x = "<%= data.rows[0].by.organiser_type %>"
                    if(x == 'kanoon')
                      document.getElementById('organiser_type_option_kanoon').selected = true
                    if(x == 'tashakol')
                      document.getElementById('organiser_type_option_tashakol').selected = true
                    if(x == 'anjoman')
                      document.getElementById('organiser_type_option_anjoman').selected = true
                  </script>

                    <!-- /input-group -->
                  <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-2">
                      <div class="form-group">
                        <label >نام مجموعه</label>
                        <select class="form-control" name="organiser_persian">
                          <option id="kanoon_theatre_event_name_option" value="کانون تئاتر">کانون تئاتر</option>
                          <option id="kanoon_filmoax_event_name_option" value="کانون فیلم و عکس">کانون فیلم و عکس</option>
                          <option id="anjoman_barghvacomputer_event_name_option" value="انجمن علمی برق و کامپیوتر">انجمن علمی برق و کامپیوتر</option>
                          <option id="tashakol_safir_event_name_option" value="تشکل سفیر">تشکل سفیر</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  </div>
                <script>
                  var x = "<%= data.rows[0].by.organiser_persian %>"
                  if(x == 'کانون تئاتر')
                    document.getElementById('kanoon_theatre_event_name_option').selected = true
                  if(x == 'کانون فیلم و عکس')
                    document.getElementById('kanoon_filmoax_event_name_option').selected = true
                  if(x == 'انجمن علمی برق و کامپیوتر')
                    document.getElementById('anjoman_barghvacomputer_event_name_option').selected = true
                  if(x == 'تشکل سفیر')
                    document.getElementById('tashakol_safir_event_name_option').selected = true
                </script>
                  <!-- /.col-lg-6 -->

                </div>
                <!-- /.row -->
              <div class="row">
                <div class="col-sm-offset-1 col-sm-2">
                  <div class="form-group">
                    <div class="form-group">
                      <label>محل برگزاری</label>
                      <input type="text" class="form-control" placeholder="متن" name="place_name" value="<%= data.rows[0].address.place_name%>">
                    </div>
                  </div>
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-sm-offset-1 col-sm-6">
                  <div class="form-group">
                    <div class="form-group">
                      <label>آدرس</label>
                      <input type="text" class="form-control" name="address_string" placeholder="متن" name="address" value="<%= data.rows[0].address.address_string%>">
                    </div>
                  </div>
                </div>

              </div>
              <div class="row">
                <div class="col-sm-offset-1 col-sm-2">
                  <div class="form-group">
                    <div class="form-group">
                      <label>lat location_developer mode</label>
                      <input type="text" class="form-control" name="latitude" placeholder="متن" value="<%= data.rows[0].address.loc.lat%>">
                    </div>
                  </div>
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-sm-offset-1 col-sm-3">
                  <div class="form-group">
                    <div class="form-group">
                      <label>long location_developer mode</label>
                      <input type="text" class="form-control" name="longitude" placeholder="متن" value="<%= data.rows[0].address.loc.long%>">
                    </div>
                  </div>
                </div>
                <!-- /.col-lg-6 -->
              </div>
              <div class="row">
                <div class="col-sm-offset-1 col-sm-3">
                  <div class="form-group">
                    <div class="box-body">

                      <div class="form-group">
                        <label>تاریخ و ساعت شروع رویداد</label>
                        <!--<div class="input-group date">-->
                          <!--<div class="input-group-addon">-->
                            <!--<i class="fa fa-calendar"></i>-->
                          <!--</div>-->
                          <!--<input type="text" id="tarikh" name="start_event_date_time" class="form-control pull-right" value="<%= data.rows[0].time.start_event_date_time_string%>">-->
                          <!--<input type="text" id="tarikhAlt" name="start_event_date_time_Alt" class="form-control pull-right" value="<%= data.rows[0].time.finish_event_date_time_string%>">-->

                        <!--</div>-->
                        <!-- /.input group -->
                        <input type="text" id="tarikhTemp" name="start_event_date_time" class="form-control pull-right" value="<%= data.rows[0].time.start_event_date_time_string%>">
                        <input type="text" id="tarikhAltTemp" name="start_event_date_time_Alt" class="form-control pull-right" value="<%= data.rows[0].time.start_event_date_time_Alt%>">
                      </div>

                    </div>
                    <!-- /.box-body -->
                  </div>
                </div>
                <div class="col-sm-offset-1 col-sm-3">
                  <div class="form-group">
                    <div class="box-body">

                      <div class="form-group">
                        <label>تاریخ و ساعت پایان رویداد</label>
                        <!--<div class="input-group date">-->
                          <!--<div class="input-group-addon">-->
                            <!--<i class="fa fa-calendar"></i>-->
                          <!--</div>-->
                          <!--<input type="text" id="tarikh1" name="finish_event_date_time" class="form-control pull-right">-->
                          <!--<input type="text" id="tarikhAlt1" name="finish_event_date_time_Alt" class="form-control pull-right">-->
                        <!--</div>-->
                        <input type="text" id="tarikhTemp" name="start_event_date_time" class="form-control pull-right" value="<%= data.rows[0].time.finish_event_date_time_string%>">
                        <input type="text" id="tarikhAltTemp" name="start_event_date_time_Alt" class="form-control pull-right" value="<%= data.rows[0].time.finish_event_date_time_Alt%>">

                        <!-- /.input group -->
                      </div>

                    </div>
                    <!-- /.box-body -->
                  </div>
                </div>
                <div class="col-sm-offset-1 col-sm-2">
                  <div class="form-group">
                    <div class="box-body">

                      <div class="form-group">
                        <label>مدت زمان رویداد</label>
                        <input type="text" class="form-control" name="duration" placeholder="3 ساعت" value="<%= data.rows[0].time.duration%>">
                        <!-- /.input group -->
                      </div>

                    </div>
                    <!-- /.box-body -->
                  </div>
                </div>


                  
            </div>
              <div class="row">


                <div class="col-sm-offset-1 col-sm-4">
                  <div class="form-group">
                    <div class="box-body">

                      <div class="form-group">
                        <label>آدرس پوستر رویداد</label>
                        <input type="text" class="form-control" name="event_pic_url" placeholder="some url" value="<%= data.rows[0].picture.event_pic_url%>">
                        <!-- /.input group -->
                      </div>

                    </div>
                    <!-- /.box-body -->
                  </div>
                </div>

                <!-- /.box-body -->
                <div class="col-sm-offset-1 col-sm-4">
                  <div class="form-group">
                    <div class="box-body">

                      <div class="form-group">
                        <label>آدرس عکس برگزارکننده رویداد</label>
                        <input type="text" class="form-control" name="organiser_pic_url" placeholder="some url" value="<%= data.rows[0].picture.organiser_pic_url%>">
                        <!-- /.input group -->
                      </div>

                    </div>
                    <!-- /.box-body -->
                  </div>
                </div>
                <div class="col-sm-offset-1 col-sm-4">
                  <div class="form-group">
                    <div class="box-body">

                      <div class="form-group">
                        <label>آدرس ویدیو رویداد</label>
                        <input type="text" class="form-control" name="event_video_url" placeholder="www.aparat.com/..." value="<%= data.rows[0].picture.event_video_url%>">
                        <!-- /.input group -->
                      </div>

                    </div>
                    <!-- /.box-body -->
                  </div>
                </div>

              </div>
            <div class="row">
              <div class="col-sm-offset-1 col-sm-2">
                <div class="form-group">
                  <div class="box-body">


                      <div class="form-group">
                        <label>نوع بلیط</label>
                        <div class="radio" name="ticket_type">
                          <label>
                            <input onclick="document.getElementById('ticketPaymentText').disabled = false;" type="radio" name="optionsRadios" id="ticketTypeOptionCash" value="cash" >
                            بلیط فروشی
                          </label>
                        </div>
                        <div class="radio">
                          <label>
                            <input onclick="document.getElementById('ticketPaymentText').disabled = true;" type="radio" name="optionsRadios" id="ticketTypeOptionFree" value="free">
                            رایگان
                          </label>

                        </div>
                      </div>
                    <script>
                      var x = "<%= data.rows[0].ticket.price%>"
                      if(x == 0)
                      document.getElementById('ticketTypeOptionFree').checked = true
                      else
                        document.getElementById('ticketTypeOptionCash').checked = true
                    </script>
                  </div>
                  <!-- /.box-body -->
                </div>
              </div>
              <div class="col-sm-offset-1 col-sm-2">
                <div class="form-group">
                  <div class="box-body">

                    <div class="form-group">
                      <label>قیمت بلیط(به تومان)</label>
                      <input id="ticketPaymentText" type="text" name="ticket_price" class="form-control" placeholder="25000" value="<%= data.rows[0].ticket.price%>">
                      <!-- /.input group -->
                    </div>

                  </div>
                  <!-- /.box-body -->
                </div>
              </div>

            </div>
            <div class="box-footer">
              <button type="submit" class="btn btn-info pull-right">ویرایش رویداد</button>
            </div>
            <!-- /.box-footer -->
            </div>
          </form>
        </div>
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!--<footer class="main-footer text-left">-->
    <!--<strong>Copyleft &copy; 2014-2017 <a href="https://adminlte.io">Almsaeed Studio</a> & <a href="http://hosseinizadeh.ir/adminlte">Alireza Hosseinizadeh</a></strong>-->
  <!--</footer>-->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Create the tabs -->
    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
      <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
      <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <!-- Home tab content -->
      <div class="tab-pane" id="control-sidebar-home-tab">
        <h3 class="control-sidebar-heading">فعالیت ها</h3>
        <ul class="control-sidebar-menu">
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-birthday-cake bg-red"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">تولد غلوم</h4>

                <p>۲۴ مرداد</p>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-user bg-yellow"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">آپدیت پروفایل سجاد</h4>

                <p>تلفن جدید (800)555-1234</p>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">نورا به خبرنامه پیوست</h4>

                <p>nora@example.com</p>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-file-code-o bg-green"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">کرون جابز اجرا شد</h4>

                <p>۵ ثانیه پیش</p>
              </div>
            </a>
          </li>
        </ul>
        <!-- /.control-sidebar-menu -->

        <h3 class="control-sidebar-heading">پیشرفت کارها</h3>
        <ul class="control-sidebar-menu">
          <li>
            <a href="javascript:void(0)">
              <h4 class="control-sidebar-subheading">
                ساخت پوستر های تبلیغاتی
                <span class="label label-danger pull-left">70%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <h4 class="control-sidebar-subheading">
                آپدیت رزومه
                <span class="label label-success pull-left">95%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-success" style="width: 95%"></div>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <h4 class="control-sidebar-subheading">
                آپدیت لاراول
                <span class="label label-warning pull-left">50%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <h4 class="control-sidebar-subheading">
                بخش پشتیبانی سایت
                <span class="label label-primary pull-left">68%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
              </div>
            </a>
          </li>
        </ul>
        <!-- /.control-sidebar-menu -->

      </div>
      <!-- /.tab-pane -->
      <!-- Stats tab content -->
      <div class="tab-pane" id="control-sidebar-stats-tab">وضعیت</div>
      <!-- /.tab-pane -->
      <!-- Settings tab content -->
      <div class="tab-pane" id="control-sidebar-settings-tab">
        <form method="post">
          <h3 class="control-sidebar-heading">تنظیمات عمومی</h3>

          <div class="form-group">
            <label class="control-sidebar-subheading">
              گزارش کنترلر پنل
              <input type="checkbox" class="pull-left" checked>
            </label>

            <p>
              ثبت تمامی فعالیت های مدیران
            </p>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <label class="control-sidebar-subheading">
              ایمیل مارکتینگ
              <input type="checkbox" class="pull-left" checked>
            </label>

            <p>
              اجازه به کاربران برای ارسال ایمیل
            </p>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <label class="control-sidebar-subheading">
              در دست تعمیرات
              <input type="checkbox" class="pull-left" checked>
            </label>

            <p>
              قرار دادن سایت در حالت در دست تعمیرات
            </p>
          </div>
          <!-- /.form-group -->

          <h3 class="control-sidebar-heading">تنظیمات گفتگوها</h3>

          <div class="form-group">
            <label class="control-sidebar-subheading">
              آنلاین بودن من را نشان نده
              <input type="checkbox" class="pull-left" checked>
            </label>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <label class="control-sidebar-subheading">
              اعلان ها
              <input type="checkbox" class="pull-left">
            </label>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <label class="control-sidebar-subheading">
              حذف تاریخته گفتگوهای من
              <a href="javascript:void(0)" class="text-red pull-left"><i class="fa fa-trash-o"></i></a>
            </label>
          </div>
          <!-- /.form-group -->
        </form>
      </div>
      <!-- /.tab-pane -->
    </div>
  </aside>
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->
<script src="../../bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- SlimScroll -->
<script src="../../bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="../../bower_components/fastclick/lib/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../dist/js/demo.js"></script>

<!-- jQuery 3 -->
<script src="../../bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Select2 -->
<script src="../../bower_components/select2/dist/js/select2.full.min.js"></script>
<!-- InputMask -->
<script src="../../plugins/input-mask/jquery.inputmask.js"></script>
<script src="../../plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
<script src="../../plugins/input-mask/jquery.inputmask.extensions.js"></script>
<!-- date-range-picker -->
<script src="../../bower_components/moment/min/moment.min.js"></script>
<script src="../../bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
<!-- bootstrap datepicker -->
<script src="../../bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<!-- bootstrap color picker -->
<script src="../../bower_components/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
<!-- bootstrap time picker -->
<script src="../../plugins/timepicker/bootstrap-timepicker.min.js"></script>
<!-- SlimScroll -->
<script src="../../bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<!-- iCheck 1.0.1 -->
<script src="../../plugins/iCheck/icheck.min.js"></script>
<!-- FastClick -->
<script src="../../bower_components/fastclick/lib/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../dist/js/demo.js"></script>
<!-- babakhani datepicker -->
<script src="../../dist/js/persian-date-0.1.8.min.js"></script>
<script src="../../dist/js/persian-datepicker-0.4.5.min.js"></script>
<!-- Page script -->
<script>
  $(document).ready(function () {
    $('#tarikh').persianDatepicker({
      altField: '#tarikhAlt',
      altFormat: 'X',
      format: 'D MMMM YYYY HH:mm a',
      observer: true,
      timePicker: {
        enabled: true
      },
    });
  });
  $(document).ready(function () {
    $('#tarikh1').persianDatepicker({
      altField: '#tarikhAlt1',
      altFormat: 'X',
      format: 'D MMMM YYYY HH:mm a',
      observer: true,
      timePicker: {
        enabled: true
      },
    });
  });
  $(function () {
    //Initialize Select2 Elements
    $('.select2').select2()

    //Datemask dd/mm/yyyy
    $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
    //Datemask2 mm/dd/yyyy
    $('#datemask2').inputmask('mm/dd/yyyy', { 'placeholder': 'mm/dd/yyyy' })
    //Money Euro
    $('[data-mask]').inputmask()

    //Date range picker
    $('#reservation').daterangepicker()
    //Date range picker with time picker
    $('#reservationtime').daterangepicker({ timePicker: true, timePickerIncrement: 30, format: 'MM/DD/YYYY h:mm A' })
    //Date range as a button
    $('#daterange-btn').daterangepicker(
      {
        ranges   : {
          'Today'       : [moment(), moment()],
          'Yesterday'   : [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
          'Last 7 Days' : [moment().subtract(6, 'days'), moment()],
          'Last 30 Days': [moment().subtract(29, 'days'), moment()],
          'This Month'  : [moment().startOf('month'), moment().endOf('month')],
          'Last Month'  : [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        },
        startDate: moment().subtract(29, 'days'),
        endDate  : moment()
      },
      function (start, end) {
        $('#daterange-btn span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))
      }
    )

    //Date picker
    $('#datepicker').datepicker({
      autoclose: true
    })

    //iCheck for checkbox and radio inputs
    $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
      checkboxClass: 'icheckbox_minimal-blue',
      radioClass   : 'iradio_minimal-blue'
    })
    //Red color scheme for iCheck
    $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
      checkboxClass: 'icheckbox_minimal-red',
      radioClass   : 'iradio_minimal-red'
    })
    //Flat red color scheme for iCheck
    $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
      checkboxClass: 'icheckbox_flat-green',
      radioClass   : 'iradio_flat-green'
    })

    //Colorpicker
    $('.my-colorpicker1').colorpicker()
    //color picker with addon
    $('.my-colorpicker2').colorpicker()

    //Timepicker
    $('.timepicker').timepicker({
      showInputs: false
    })
  })
</script>

<script>
  $(document).ready(function () {
    $('.sidebar-menu').tree()
  })
</script>
</body>
</html>
