﻿<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>لیموناد</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">


        <link rel="stylesheet" href="assets/css/fonticons.css">
        <link rel="stylesheet" href="assets/fonts/stylesheet.css">
        <link rel="stylesheet" href="assets/css/font-awesome.min.css">
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/animate.css" />
        <link rel="stylesheet" href="assets/css/specificeventpage.css" />
        <!--For calendar css-->
        <link rel="stylesheet" href="assets/css/bootstrap-theme.css.map" />
        <link rel="stylesheet" href="assets/css/jquery.Bootstrap-PersianDateTimePicker.css" />
        <!--<link rel="stylesheet" href="assets/css/datepicker.css" />-->
       
        <!--For Plugins external css-->
        <link rel="stylesheet" href="assets/css/plugins.css" />

        <!--Theme custom css -->
        <link rel="stylesheet" href="assets/css/style.css">

        <!--Theme Responsive css-->
        <link rel="stylesheet" href="assets/css/responsive.css" />

        <script src="assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
  
    </head>
    <body data-spy="scroll" data-target=".navbar-collapse">
    
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <header id="main_menu" class="header navbar-fixed-top menu-scroll">            
            <div class="main_menu_bg">
                <div class="container">
                    <div class="row">
                        <div class="nave_menu">
                            <nav class="navbar navbar-default" id="navmenu">
                                <div class="container-fluid">
                                    <!-- Brand and toggle get grouped for better mobile display -->
                                    <div class="navbar-header">

                                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                            <span class="sr-only">Toggle navigation</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                        <a class="navbar-brand" href="#home">
                                            <img src="assets/images/logo.png"/>
                                        </a>
                                    </div>

                                    <!-- Collect the nav links, forms, and other content for toggling -->

                                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="direction:rtl;text-align:right;">
                                        <ul class="nav navbar-nav navbar-right">
                                            <li><a href="#home"><i class="fa fa-home"></i>&nbspخانه</a></li>
                                            <li><a href="#portfolio"><i class="fa fa-archive"></i>&nbspرویدادها</a></li>
                                            <li><a href="#"><i class="fa fa-user"></i>&nbspبرگزارکننده ها</a></li>
                                            <li><a href="#"><i class="fa fa-ticket"></i>&nbspدریافت سریع بلیط</a></li>
                                            <li><a href="#contact"><i class="fa fa-connectdevelop"></i>&nbspتماس باما</a></li>
                                        </ul>    
                                    </div>

                                </div>
                            </nav>
                        </div>	
                    </div>

                </div>

            </div>
        </header> <!--End of header -->





        <section id="home" class="home">
            <div class="overlay" style="height: 250px!important;">
                <div class="container">
                 
                    <div class="row" >
          
                            <h2 id="headersearch" class="wow fadeInUp col-sm-12" data-wow-duration="2s">اینجا بنر افقی رویداد قرار میگیره</h2> 
                      
                    </div>
                </div>
            </div>
        </section>
        <br />
        <div class="container">
            <div class="row">

                <section  class="col-md-12 col-sm-12">
                    <div id="box1" class="box blurred-bg tinted">
                        <div class="container">
                        <div class="row" style="display: contents;">
                            <div class="col-md-3 col-sm-3" style="padding:0px;">
                                <div class="artist1">
                                    <div class="artist__thumbnail1">
                                        <img class="artist__blur1" src="">
                                        <img class="artist__image1" src="../../../../../../uploads/<%= data.rows[0].picture.event_pic_url%>">
                                        <div class="artist__ring1"></div>
                                        <div class="artist__ring1 artist__ring--outer1"></div>
                                    </div>
                                </div>
                                <div style="padding-top:2rem;padding-left: 20px;">
                                    <div class="col-sm-12  text-center col-lg-12  col-md-12 buttonsabtenam">
                                        ثبت نام
                                    </div>

                                </div>
                            </div>
                        
                            <div class="col-md-6 col-sm-6" id="mmidle">
                                <h3><%= data.rows[0].title%></h3>
                                <div class="middledetail">
                                <p > <%= data.rows[0].address.place_name%>&nbsp;<img src="assets/images/placeholder.png" style="display:inline;" />&nbsp;</p>
                                <p><%= data.rows[0].time.start_event_date_time_string%><img src="assets/images/calendar.png" style="display:inline;" />&nbsp;</p>
                                    <p> 17:00ساعت &nbsp;<img src="assets/images/alarm-clock.png" style="display:inline;" />&nbsp;</p>
                                    <p><%= data.rows[0].time.duration%>&nbsp;<img src="assets/images/sand-clock.png" style="display:inline;" />&nbsp;</p>
                                    <p><%= data.rows[0].ticket.price%> تومان&nbsp;<img src="assets/images/pay-per-click.png" style="display:inline;" />&nbsp;</p>
                                </div>

 
              
                            </div>
                            <div class="col-md-3 col-sm-3" style="padding-left:0px;">
                                <div class="artist">
                                    <!--<h3 style="color:white;">برگزارکننده رویداد</h3>-->
                                    <div class="artist__thumbnail">
                                        <h3 style="color:white;">برگزارکننده رویداد</h3>
                                        <img class="artist__blur" src="assets/images/tumblr_static_filename_640_v2.jpg">
                                        <img class="artist__image" src="../../../../../../uploads/<%= data.rows[0].picture.organiser_pic_url%>">
                                        <div class="artist__ring"></div>
                                        <div class="artist__ring artist__ring--outer"></div>
                                    </div>
                                    <div class="artist__label">
                                        <p id="kanunname"><%= data.rows[0].by.organiser_persian%></p>
                                        <a href="#" class="kanundetail">دیوار برگزارکننده&nbsp;<i class="fa fa-chevron-left"></i></a>
                                        <a href="#" class="kanundetail">سایر رویداد های این برگزارکننده&nbsp;<i class="fa fa-chevron-left"></i></a>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                        
                    
                           
                        </div>

                                  </div>
</section>
            </div>
        </div>

        <div class="sectiondetail">
            <div class="top-border left"></div>
            <div class="top-border right"></div>
            <h1>توضیحات</h1>
            <p style="color:black;"><%= data.rows[0].description%></p>

        </div>
        <hr />
        <section style="text-align:center;">
            <h2 style="color:black;">مکان</h2>
            <div class="sectiondetail" style="margin-top: 10px;">
                <div class="top-border left" style="width: 100%;"></div>
                <div class="top-border right" style="width:100%;"></div>
               
                <p style="color:black;"><%= data.rows[0].address.address_string%></p>
                <p style="color:black;">09131122536</p>

            </div>
            <hr />
        </section>
        <section id="videosection">
            <h2 style="text-align: center;color: black;">تیزر رویداد</h2>
<div class="h_iframe-aparat_embed_frame"> 
            <span style="display: block;padding-top: 57%"></span>
            <iframe src="https://www.aparat.com/video/video/embed/videohash/EexUg/vt/frame" allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
</div>
        </section>
        <section id="portfolio" class="portfolio">
          <div class="container">
            <div class="row">
              <div class="main_mix_content text-center sections">
                <div class="head_title">
                  <h2>رویدادهای مشابه</h2>
                </div>

                <div  class="box">
                  <% suggestion.rows.forEach(function(item){ %>
                  <div class="col-md-3 ">
                    <img src="../../../../../../uploads/<%= item.picture.event_pic_url%>" alt="Lights" style="width:100%">

                        <div class="gap"></div>
                  </div>
                  <% })%>
                </div>
        </section> <!-- End of portfolio two Section -->
        <section id="counter" class="counter">
            <div class="overlay">
                <div class="container">

                    <div class="row">
                        <div class="main_counter sections text-center">
                            <h2>بخشی از آمار لیموناد</h2>
                            <div class="col-sm-10 col-sm-offset-1" id="amar">
                                <div class="row">
                                    <div class="col-sm-3 col-xs-12">
                                        <div class="single_counter_right">
                                            <i class="lnr lnr-users"></i>
                                            <h2 class="statistic-counter">4,800</h2>
                                            <p>تعدابرگزارکننده</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-xs-12">
                                        <div class="single_counter_right">
                                            <i class="fa fa-line-chart"></i>
                                            <h2 class="statistic-counter">4510</h2>
                                            <p>تعدادرویدادها</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-xs-12">
                                        <div class="single_counter_right">
                                            <i class="lnr lnr-cart"></i>
                                            <h2 class="statistic-counter">2,800</h2>
                                            <p>بلیط خریداری شده</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-xs-12">
                                        <div class="single_counter_right">
                                            <i class="lnr lnr-eye"></i>
                                            <h2 class="statistic-counter">5,500</h2>
                                            <p>میانگین بازدیدروزانه</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer id="footer" class="footer">
            <div class="container">
                <div class="main_footer">
                    <div class="row">
                      
                        <div class="col-sm-6 col-xs-12">
                            <div class="copyright_text">
                                <p style="direction:rtl;"  class="wow fadeInRight" data-wow-duration="1s">ساخته شده با <i class="fa fa-heart"></i> توسط <a href="http://limoonad.ir">تیم لیموناد</a>2018 &copy;</p>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <div class="footer_socail">
                                <a href=""><i class="fa fa-whatsapp"></i></a>
                                <a href=""><i class="fa fa-rss"></i></a>
                                <a href=""><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </footer>



        <!-- START SCROLL TO TOP  -->

        <div class="scrollup">
            <a href="#"><i class="fa fa-chevron-up"></i></a>
        </div>

        <script src="assets/js/vendor/jquery-1.11.2.min.js"></script>
        <script src="assets/js/vendor/bootstrap.min.js"></script>
        <script src="assets/js/Wow.js"></script>
        <script src="assets/js/jquery.easypiechart.min.js"></script>
        <script src="assets/js/jquery.mixitup.min.js"></script>
        <script src="assets/js/jquery.easing.1.3.js"></script>

        <script src="assets/js/plugins.js"></script>
        <script src="assets/js/main.js"></script>
        <script src="assets/js/datepicker.js"></script>
        <script src="assets/js/jalaali.js"></script>
            <script src="assets/js/jquery.Bootstrap-PersianDateTimePicker.js"></script>
  
        <script type="text/javascript">

            
    $('#input1').change(function () {
      var $this = $(this),
        value = $this.val();
      alert(value);
    });
    $('#textbox1').change(function () {
      var $this = $(this),
        value = $this.val();
      alert(value);
    });
    $('[data-name="disable-button"]').click(function () {
      $('[data-mddatetimepicker="true"][data-targetselector="#input1"]').MdPersianDateTimePicker('disable', true);
    });
    $('[data-name="enable-button"]').click(function () {
      $('[data-mddatetimepicker="true"][data-targetselector="#input1"]').MdPersianDateTimePicker('disable', false);
    });
        </script>
        <script type="text/javascript">

            (function ($, window, document, undefined) {
                "use strict";

                var $html = $("html");

                $html.on("click.ui.dropdown", ".js-dropdown", function (e) {
                    e.preventDefault();
                    $(this).toggleClass("is-open");
                });

                $html.on("click.ui.dropdown", ".js-dropdown [data-dropdown-value]", function (
                  e
                ) {
                    e.preventDefault();
                    var $item = $(this);
                    var $dropdown = $item.parents(".js-dropdown");
                    $dropdown.find(".js-dropdown__input").val($item.data("dropdown-value"));
                    $dropdown.find(".js-dropdown__current").text($item.text());
                });

                $html.on("click.ui.dropdown", function (e) {
                    var $target = $(e.target);
                    if (!$target.parents().hasClass("js-dropdown")) {
                        $(".js-dropdown").removeClass("is-open");
                    }
                });
            })(jQuery, window, document);

            $("[data-mix]").each(function () {
                var $self = $(this), // Element with buttons
                    $filt = $self.find("[data-filter]"), // data-filter buttons
                    $mix = $($self.data("mix")); // Container to mix
                $mix.mixItUp({
                    selectors: {
                        filter: $filt,
                        
                    }
                });
            });
        </script>
        <script type="text/javascript">
            //$(".calender").datepicker({
            //    altField: "#calenderSelector",
            //    altSecondaryField: "#calenderSecondarySelector",
            //    format: "long"
            //});
            //function showCal() {
             
            //    var dis = $(".datepicker-jalali").css("display");
            //    if(dis=="none"){
            //        $('.datepicker-jalali').css('display', 'block');
            //    }
            //    if(dis=="block"){
            //        $('.datepicker-jalali').css('display', 'none');
            //    }
            //}

      
        </script>
    </body>
</html>
