<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>AdminLTE 2 | Dashboard</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <!-- Bootstrap 3.3.2 -->
    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- FontAwesome 4.3.0 -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- Ionicons 2.0.0 -->
    <link href="https://code.ionicframework.com/ionicons/2.0.0/css/ionicons.min.css" rel="stylesheet" type="text/css" />    
    <!-- Theme style -->
    <link href="../dist/css/AdminLTE.min.css" rel="stylesheet" type="text/css" />
    <!-- AdminLTE Skins. Choose a skin from the css/skins 
         folder instead of downloading all of them to reduce the load. -->
    <link href="../dist/css/skins/_all-skins.min.css" rel="stylesheet" type="text/css" />
    <!-- iCheck -->
    <link href="../plugins/iCheck/flat/blue.css" rel="stylesheet" type="text/css" />
    <!-- Morris chart -->
    <link href="../plugins/morris/morris.css" rel="stylesheet" type="text/css" />
    <!-- jvectormap -->
    <link href="../plugins/jvectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />
    <!-- Date Picker -->
    <link href="../plugins/datepicker/datepicker3.css" rel="stylesheet" type="text/css" />
    <!-- Daterange picker -->
    <link href="../plugins/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css" />
    <!-- bootstrap wysihtml5 - text editor -->
    <link href="../plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" rel="stylesheet" type="text/css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body class="skin-blue">
    <div class="wrapper">
      
      <header class="main-header">
        <!-- Logo -->
        <a href="index2.html" class="logo">control panel</a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>
        </nav>
      </header>
      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- Sidebar user panel -->
          <div class="user-panel">
            <div class="pull-left image">
              <!--<img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image" />-->
            </div>
            <div class="pull-left info">
              <p>Admin</p>

              <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
          </div>

          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu">
              <li class="header">MAIN NAVIGATION</li>
              <li class="active treeview">
                <a href="#">
                  <i class="fa fa-dashboard"></i> <span>questions</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                  <li class="active"><a href="/admin/showQuestions"><i class="fa fa-circle-o"></i> show guestions</a></li>
                  <li><a href="/admin/addQuestion"><i class="fa fa-circle-o"></i> add question</a></li>
                </ul>
              </li>
              <li class="active treeview">
                <a href="#">
                  <i class="fa fa-dashboard"></i> <span>events</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                  <li class="active"><a href="/admin/showEvents"><i class="fa fa-circle-o"></i> show events</a></li>
                  <li><a href="/admin/addEvent"><i class="fa fa-circle-o"></i> add event</a></li>
                </ul>
              </li>
              <li class="active treeview">
                  <a href="#">
                    <i class="fa fa-dashboard"></i> <span>result</span> <i class="fa fa-angle-left pull-right"></i>
                  </a>
                  <ul class="treeview-menu">
                    <li class="active"><a href="/admin/showResult" target="_blank"><i class="fa fa-circle-o"></i> show result</a></li>
                  </ul>
                </li>
            </ul>
          </section>
        <!-- /.sidebar -->
      </aside>

      <!-- Right side column. Contains the navbar and content of the page -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">

        </section>

        <!-- Main content -->
        <section class="content">
          <div class="col-md-10">
            <!-- Horizontal Form -->
            <div class="box box-info">
              <div class="box-header with-border">
                <h3 class="box-title">add new question</h3>
              </div>
              <!-- /.box-header -->
              <!-- form start -->
              <form class="form-horizontal" action="/admin/addQuestion" method="post" enctype="application/x-www-form-urlencoded">
                <div class="box-body">
                  <div class="form-group">
                    <label for="inputTitle" class="col-sm-2 control-label">question text</label>

                    <div class="col-sm-8">
                      <!--<textarea rows="4" cols="50" class="col-sm-8 forbnm-control" id="inputTitle" name="title" placeholder="text"></textarea>-->
                      <input type="" class="col-sm-8 form-control" id="inputTitle" name="title" placeholder="text">
                      <label for="answerTime" class=" control-label">answer time</label>

                      <input type="number" class="col-sm-2 form-control" id="answerTime" name="answerTime" placeholder="seconds">
                      <input type="hidden" class="col-sm-8 form-control" id="optionNumber" name="optionNumber">
                    </div>

                    <div class="col-sm-12">
                      <label for="questionType" class="col-sm-2 control-label">question type</label>
                      <input type="radio" id="questionTypeVolume" name="questionType" value="0" onclick="volumeChecked()"> volume<br>
                      <input type="radio" id="questionTypeOption" name="questionType" value="1" onclick="optionCheked()"> with options<br>
                    </div>
                    <div id="questionBox" class="col-sm-12">
                    </div>

                  </div>

                  <!-- /.row -->
                  <!--<div class="row">-->
                    <!--<div class="col-sm-offset-1 col-sm-1">-->
                      <!--<div class="form-group">-->
                        <!--<div class="form-group">-->
                          <!--<label>گزینه اول</label>-->
                          <!--<input type="text" class="form-control"  name="option1">-->
                        <!--</div>-->
                      <!--</div>-->
                    <!--</div>-->
                    <!--&lt;!&ndash; /.col-lg-6 &ndash;&gt;-->
                    <!--<div class="col-sm-offset-1 col-sm-1">-->
                      <!--<div class="form-group">-->
                        <!--<div class="form-group">-->
                          <!--<label>گزینه دوم</label>-->
                          <!--<input type="text" class="form-control" name="option2">-->
                        <!--</div>-->
                      <!--</div>-->
                    <!--</div>-->

                  <!--</div>-->


                  <div class="box-footer">
                    <button type="submit" class="btn btn-info ">done</button>
                  </div>
                  <!-- /.box-footer -->
                </div>
              </form>
            </div>
          </div>
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->
      <footer class="main-footer">
      </footer>
    </div><!-- ./wrapper -->
    <script>
      var volumeCheckedFlag = 0
      var optionCheckedFlag = 0
      var optionNumber = 0
        function volumeChecked() {
            if(volumeCheckedFlag == 0){
                volumeCheckedFlag = 1 ;
                if(optionCheckedFlag == 1 ){
                    optionCheckedFlag = 0;
                    optionNumber = 0;
                    document.getElementById("optionNumber").value = optionNumber;
                    var btn = document.getElementById("addOptionBtn");
                    document.getElementById("questionBox").removeChild(btn);
                    var optionBox = document.getElementById("questionOptionsBox");
                    document.getElementById("questionBox").removeChild(optionBox);
                }

                var x = document.createElement("INPUT");
                x.setAttribute("type", "text");
                x.setAttribute("id", "fromRange");
                x.setAttribute("placeholder", "fromRange");
                x.setAttribute("name", "fromRange");
                var y = document.createElement("INPUT");
                y.setAttribute("type", "text");
                y.setAttribute("id", "toRange");
                y.setAttribute("placeholder", "toRange");
                y.setAttribute("name", "toRange");
                document.getElementById("questionBox").appendChild(x);
                document.getElementById("questionBox").appendChild(y);
            }

        }
        function optionCheked() {
            if(optionCheckedFlag == 0){
                optionCheckedFlag = 1;
                if(volumeCheckedFlag == 1){
                    var x = document.getElementById("fromRange");
                    var y = document.getElementById("toRange");
                    document.getElementById("questionBox").removeChild(x);
                    document.getElementById("questionBox").removeChild(y);
                    volumeCheckedFlag = 0;
                }
                var btn = document.createElement("INPUT");
                btn.setAttribute("type", "button");
                btn.setAttribute("id", "addOptionBtn");
                btn.setAttribute("onclick", "addOption()");
                btn.setAttribute("class", "btn btn-info");
                btn.setAttribute("value", "add option");
                document.getElementById("questionBox").appendChild(btn);
                // var btn = document.createElement("BUTTON");
                // btn.innerHTML = "Add option";
                // btn.setAttribute("id" , "addOptionBtn")
                // btn.setAttribute("onclick" , "addOption()")
                // btn.setAttribute("class" , "btn btn-info")
                // document.getElementById("questionBox").appendChild(btn);
            }
        }
        function addOption() {
            if(optionNumber == 0 ){
                var optionBox = document.createElement("div")
                optionBox.setAttribute("id" , "questionOptionsBox")
                optionBox.setAttribute("class" , "col-sm-12")
                document.getElementById("questionBox").appendChild(optionBox);
            }
            optionNumber +=1
            document.getElementById("optionNumber").value = optionNumber
            var x = document.createElement("INPUT");
            x.setAttribute("type", "text");
            x.setAttribute("id", "option" + optionNumber);
            x.setAttribute("name", "option" + optionNumber);
            x.setAttribute("placeholder", "option " + optionNumber + " text");
            var activeRadio = document.createElement("INPUT")
            activeRadio.setAttribute("type" , "radio")
            activeRadio.innerHTML = "enable"
            activeRadio.setAttribute("id" , "option"+optionNumber+"active")
            activeRadio.setAttribute("name" , "option"+optionNumber+"radio")
            activeRadio.setAttribute("value" , "1")
            activeRadio.setAttribute("checked" , "true")
            var deactiveRadio = document.createElement("INPUT")
            deactiveRadio.setAttribute("type" , "radio")
            deactiveRadio.setAttribute("innerHTML","disable")
            deactiveRadio.setAttribute("id" , "option"+optionNumber+"deactive")
            deactiveRadio.setAttribute("name" , "option"+optionNumber+"radio")
            deactiveRadio.setAttribute("value" , "0")

            var div = document.createElement("div")
            div.setAttribute("class" , "col-sm-12")
            div.appendChild(x)
            div.appendChild(activeRadio)
            var textnode1 = document.createTextNode("enable");
            var textnode2 = document.createTextNode("disable");
            div.appendChild(textnode1)
            div.appendChild(deactiveRadio)
            div.appendChild(textnode2)
            document.getElementById("questionOptionsBox").appendChild(div);
        }
    </script>
    <!-- jQuery 2.1.3 -->
    <script src="../plugins/jQuery/jQuery-2.1.3.min.js"></script>
    <!-- jQuery UI 1.11.2 -->
    <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.min.js" type="text/javascript"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
      $.widget.bridge('uibutton', $.ui.button);
    </script>
    <!-- Bootstrap 3.3.2 JS -->
    <script src="../bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <!-- Morris.js charts -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="../plugins/morris/morris.min.js" type="text/javascript"></script>
    <!-- Sparkline -->
    <script src="../plugins/sparkline/jquery.sparkline.min.js" type="text/javascript"></script>
    <!-- jvectormap -->
    <script src="../plugins/jvectormap/jquery-jvectormap-1.2.2.min.js" type="text/javascript"></script>
    <script src="../plugins/jvectormap/jquery-jvectormap-world-mill-en.js" type="text/javascript"></script>
    <!-- jQuery Knob Chart -->
    <script src="../plugins/knob/jquery.knob.js" type="text/javascript"></script>
    <!-- daterangepicker -->
    <script src="../plugins/daterangepicker/daterangepicker.js" type="text/javascript"></script>
    <!-- datepicker -->
    <script src="../plugins/datepicker/bootstrap-datepicker.js" type="text/javascript"></script>
    <!-- Bootstrap WYSIHTML5 -->
    <script src="../plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js" type="text/javascript"></script>
    <!-- iCheck -->
    <script src="../plugins/iCheck/icheck.min.js" type="text/javascript"></script>
    <!-- Slimscroll -->
    <script src="../plugins/slimScroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <!-- FastClick -->
    <script src='../plugins/fastclick/fastclick.min.js'></script>
    <!-- AdminLTE App -->
    <script src="../dist/js/app.min.js" type="text/javascript"></script>

    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="../dist/js/pages/dashboard.js" type="text/javascript"></script>

    <!-- AdminLTE for demo purposes -->
    <script src="../dist/js/demo.js" type="text/javascript"></script>
  </body>
</html>