<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Show Result</title>
    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- FontAwesome 4.3.0 -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- Ionicons 2.0.0 -->
    <link href="https://code.ionicframework.com/ionicons/2.0.0/css/ionicons.min.css" rel="stylesheet" type="text/css" />
    <!-- Theme style -->
    <link href="../dist/css/AdminLTE.min.css" rel="stylesheet" type="text/css" />
    <!-- AdminLTE Skins. Choose a skin from the css/skins 
         folder instead of downloading all of them to reduce the load. -->
    <link href="../dist/css/skins/_all-skins.min.css" rel="stylesheet" type="text/css" />
    <!-- iCheck -->
    <link href="../plugins/iCheck/flat/blue.css" rel="stylesheet" type="text/css" />
    <!-- Morris chart -->
    <link href="../plugins/morris/morris.css" rel="stylesheet" type="text/css" />
    <!-- jvectormap -->
    <link href="../plugins/jvectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />
    <!-- Date Picker -->
    <link href="../plugins/datepicker/datepicker3.css" rel="stylesheet" type="text/css" />
    <!-- Daterange picker -->
    <link href="../plugins/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css" />
    <!-- bootstrap wysihtml5 - text editor -->
    <link href="../plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" rel="stylesheet" type="text/css" />


    <link href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.css" rel="stylesheet" type="text/css" />
    <style>
        canvas {
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }
    </style>
    <style type="text/css">
        /* Chart.js */
        
        @keyframes chartjs-render-animation {
            from {
                opacity: .99
            }
            to {
                opacity: 1
            }
        }
        
        .chartjs-render-monitor {
            animation: chartjs-render-animation 1ms
        }
        
        .chartjs-size-monitor,
        .chartjs-size-monitor-expand,
        .chartjs-size-monitor-shrink {
            position: absolute;
            direction: ltr;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            overflow: hidden;
            pointer-events: none;
            visibility: hidden;
            z-index: -1
        }
        
        .chartjs-size-monitor-expand>div {
            position: absolute;
            width: 1000000px;
            height: 1000000px;
            left: 0;
            top: 0
        }
        
        .chartjs-size-monitor-shrink>div {
            position: absolute;
            width: 200%;
            height: 200%;
            left: 0;
            top: 0
        }
    </style>
</head>


<body>
    <div id="container" style="width:80% ;margin: 0 auto;padding-bottom: 50px">

        <div style="left: 5% ; margin: 0 auto;text-align: center;">
            <!-- <h1>Question : </h1> -->
            <h2 id="questionTitle"></h2>
        </div>
        <div class="chartjs-size-monitor">
            <div class="chartjs-size-monitor-expand">
                <div class="">
                </div>
            </div>
            <div class="chartjs-size-monitor-shrink">
                <div class=""></div>
            </div>
        </div>
        <canvas id="myChart" style=" display: block; " class="chartjs-render-monitor"></canvas>


    </div>
    <!--<div class="wrapper" style="width: 400px; height: 400px;">-->
    <!--<canvas id="myChart" ></canvas>-->
    <!--<h2>Question Title</h2>-->
    <!--<h3 id="questionTitle"></h3>-->
    <!--</div>-->

    <script src="/socket.io/socket.io.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>
    <script>
        var socket = io();
        var myDoughnutChart;
        // connections.push(socket);
        // console.log(' 1 socket is connected. online users : %s', connections.length);
        function addData(data) {
            console.log("Data :", data)
            if (myDoughnutChart) {

                myDoughnutChart.config.data.datasets[0].data = data;
                myDoughnutChart.config.data.datasets[0].data.push(0)
                myDoughnutChart.config.data.datasets[0].data.push(10)
                console.log(myDoughnutChart.config)
                    // myDoughnutChart.data.datasets.forEach((dataset) => {
                    //     dataset.data.forEach(d => {
                    //         dataset.data.pop()
                    //     })
                    // });
                    // myDoughnutChart.data.datasets.forEach((dataset) => {
                    //     console.log(dataset)
                    //     for (let index = 0; index < data.length; index++) {
                    //         dataset.data.push(data[index])
                    //     }
                    // });
                myDoughnutChart.update();
            }

        }
        socket.on("updateResult", (result) => {
            console.log("Update Result ", result)
            addData(result.answer);
        })
        socket.on('showResult', (result) => {
            console.log("result", result)
            document.getElementById('questionTitle').innerText = result.title
            temp = result.answer;
            temp.push(0);
            temp.push(10);
            // setTimeout(_ => {
            //     var r = {
            //         answer: [5, 9]
            //     }
            //     addData(r.answer);
            // }, 5000)
            data = {
                datasets: [{
                    data: temp,
                    label: "# of each options",
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.8)',
                        'rgba(54, 162, 235, 0.8)',
                        'rgba(255, 206, 86, 0.8)',
                        'rgba(75, 192, 192, 0.8)',
                        'rgba(153, 102, 255, 0.8)',
                        'rgba(255, 159, 64, 0.8)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],

                    borderWidth: 1,
                    hoverBorderWidth: 0
                }],

                labels: result.options,
                options: {
                    scale: {
                        pointLabels: {
                            fontSize: 20,
                        },
                    }
                }
                // options: {
                //   scales: {
                //     yAxes: [{
                //       barPercentage: 0.5
                //     }]
                //   },
                //   elements: {
                //     rectangle: {
                //       borderSkipped: 'left',
                //     }
                //   }
                // }
            }


            var ctx = document.getElementById('myChart').getContext('2d');
            if (myDoughnutChart)
                myDoughnutChart.destroy()
            myDoughnutChart = new Chart(ctx, {
                type: 'bar',
                data: data,
                // options: options
            });
            console.log(myDoughnutChart.config)
        });
    </script>
</body>

</html>