
.radialtimer {
	/* width: 120px;
	height: 120px; */
	position: absolute;
	/* top: -40%;
	left: 35%; */
	/* margin: -240px 0 0 -60px; */
  }
  /* .radialtimer .n {
	position: absolute;
	width: 120px;
	height: 120px;
	background: white;
	border-radius: 50%;
	text-align: center;
	line-height: 120px;
	font-family: "Georgia";
	font-size: 25px;
	color: #888;
  }
  .radialtimer .slice {
	position: absolute;
	width: 120px;
	height: 120px;
	clip: rect(0px, 120px, 120px, 60px);
  }
  .radialtimer .slice.nc {
	clip: rect(auto, auto, auto, auto);
  }
  .radialtimer .slice .q {
	position: absolute;
	width: 108px;
	height: 108px;
	border: 7px white solid;
	border-radius: 50%;
	clip: rect(0px, 60px, 60px, 0px);
	z-index: 2;
  }
  .radialtimer .slice .pie {
	border: 6px #6BC967 solid;
	position: absolute;
	width: 120px;
	height: 120px;
	clip: rect(0px, 60px, 150px, 0px);
	border-radius: 50%;
	transition: all 1s linear;
	z-index: 1;
  }
   */